name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    name: Run checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
      - run: |
          npm ci
          npm run check
